{% extends 'base.html' %}
{% block content %}

<html>

    <head>
        <title>SSIS Web App</title>
    </head>
    <body>
    <div class='text-center'>
        <h5 style="color: #330066">Welcome, what would you like to do today?</h5>
        </br>
        </br>
        </br>
        </br>
        </br>
        </br>
        </br>
        </br>
        <h1 style="font-size: 100px">Simple Student Information System</h1>
        <h6>Created by: Eden Dorato</h6>
    </div>
            
    </body>

</html>

{% endblock %}